<mat-drawer-container>
  <mat-drawer mode="side" opened class="tempo-sidenav mat-elevation-z3">
    <mat-slide-toggle (change)="detailsSubject.next($event.checked)" [checked]="getInitialShowDetails()">Details</mat-slide-toggle>
    <mat-form-field>
      <input (keyup)="filterSubject.next($event.target.value)" matInput placeholder="Filter users" [value]="getInitialFilter()"/>
    </mat-form-field>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab *ngFor="let m of model" label="{{m.worklog.start}} &mdash; {{m.worklog.end}}">
        <div class="tempo-content" *ngFor="let personalLog of m.worklog.personalWorklogs">
          <h4>{{personalLog.userName}}</h4>
          <mat-table #table [dataSource]="m.dataSource.data[personalLog.userName]">
            <ng-container *ngFor="let col of m.dataSource.columns" [matColumnDef]="col.def">
              <mat-header-cell *matHeaderCellDef>{{ col.header }}</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <!-- TODO: Come up with a cleaner solution -->
                <div *ngIf="col.header !== 'Issue'">
                  <span [ngClass]="{'too-much': col.loggedTooMuch(row), 'too-little': col.loggedTooLittle(row)}">
                    {{ col.cellVal(row) | hoursAndMinutes }}
                  </span>
                </div>
                <div *ngIf="col.cellVal(row) === 'Summary' && col.header === 'Issue'">{{ col.cellVal(row) }}</div>
                <div *ngIf="col.cellVal(row) !== 'Summary' && col.header === 'Issue'">
                  <a [href]="(row['url'])" target="_blank">{{ col.cellVal(row) }}</a>
                </div>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="colDefs(m.dataSource.columns)"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colDefs(m.dataSource.columns);"></mat-row>
          </mat-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer-content>
</mat-drawer-container>


