<div class="form-container">
  <h1 class="mat-display-1">Settings</h1>
  <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
    <mat-form-field>
      <input type="text" id="url" name="url"
             required
             matInput
             placeholder="Jira URL"
             [(ngModel)]="model.url"
             #url="ngModel"/>
    </mat-form-field>

    <mat-form-field>
      <input type="text" id="user" name="user"
             required
             matInput
             placeholder="Jira User"
             [(ngModel)]="model.user"
             #user="ngModel"/>
    </mat-form-field>

    <mat-form-field>
      <input type="password" id="password" name="password"
             [requiredIf]="!model.passwordUnknownButSet"
             matInput
             [placeholder]="model.passwordUnknownButSet && !model.password ? '(Use current password)' : 'Jira Password'"
             [(ngModel)]="model.password"
             #password="ngModel"/>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #usersList>
        <mat-chip *ngFor="let user of model.users" [removable]="true" (removed)="removeUser(user)">
          {{user}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Users in worklogs"
               [matChipInputFor]="usersList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addUser($event)"/>
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field>
      <mat-chip-list #projectsList>
        <mat-chip *ngFor="let project of model.projects" [removable]="true" (removed)="removeProject(project)">
          {{project}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Projects in worklogs"
               [matChipInputFor]="projectsList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addProject($event)"/>
      </mat-chip-list>
    </mat-form-field>

    <h4>Periods</h4>
    <mat-list>
      <mat-list-item *ngFor="let period of model.periods">
        {{period.start}} &mdash; {{period.end}}
        <button type="button" mat-icon-button (click)="removePeriod(period)">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-form-field>
      <input type="text" id="start" name="start"
             matInput
             placeholder="Start"
             #start/>
    </mat-form-field>

    <mat-form-field>
      <input type="text" id="end" name="end"
             matInput
             placeholder="End"
             #end/>
    </mat-form-field>

    <button type="button" mat-icon-button (click)="addPeriod(start.value, end.value)">
      <mat-icon>add</mat-icon>
    </button>

    <!-- TODO: fix the buttons layout, remove the hardcoded width -->
    <div class="button-row" style="width: 190px;">
      <button type="submit"
              mat-flat-button
              [disabled]="!settingsForm.form.valid">
        Save
      </button>

      <button type="reset"
              mat-flat-button
              color="warn"
              (click)="goToHome()">
        Cancel
      </button>
    </div>
  </form>
</div>
